#revolutionary-pbshipgen-generate-ship .standard-form .standard-form {
  display: flex;
  flex-direction: row;
  row-gap: 1em;

  .generate-ship-dialog-nationality {
    width: 30em;

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }

    li {
      padding: 0.25em;

      &:has(input[type="radio"]:checked) {
        background: #333;
      }

      input {
        margin: 0;
        visibility: hidden;
        width: 0;
      }
    }

    label {
      cursor: pointer;
    }

    .flag {
      display: inline;
      height: 1.5em;
      margin-right: 0.5em;
      vertical-align: middle;
    }
  }

  .generate-ship-dialog-other {
    border: 0;
    padding: 0;
    width: 20em;
  }
}